* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* border: 1px solid red; */
    font-family: 'Philosopher', sans-serif;
    letter-spacing: 1px;
    color: black;
    /* color: white; */
}

body{
    position: relative;
}

#topline{
    /* background-color: black; */
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-image: url("../images/border-t.png");
    background-repeat: repeat-x;
    background-position: left top;
    position: absolute;
    top:0;
    height: 50vh;
}

#bottomline{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-image: url("../images/border.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    position: absolute;
    bottom:0;
    height: 50vh;
}

#overlay{
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/border-l.png"), url("../images/border-r.png");
    background-repeat: repeat-y, repeat-y;
    background-position: left top, right top;
    z-index: 2;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Audiowide', cursive;
    color: rgb(51, 168, 218);
    letter-spacing: 3px;
    text-align: center;
    text-shadow: 1px 1px black;
}

section{
    min-height: 100vh;
    padding: 25px;
    border-top: 1px solid rgb(51, 168, 218); 
}

h2{
    padding-top:10%;
    font-size: 2em;
}

/* menu */

#navbtn{
    background-color: black;
    color: white;
    position: fixed;
    padding:10px;
    border-radius: 50%;
    border: 2px solid rgb(51, 168, 218);
    bottom:10px;
    right:10px;
    z-index: 5;
}
#navbtn img{
    width:40px;
}

header a::before{
    font-family: "Glyphicons Halflings";
    content: "\e114";
}

nav *:hover{
    color: rgb(51, 168, 218);
}

#navbtn:hover ~ nav, nav:hover {
    right:30px;
    width: 130px;
}

nav{
    position: fixed;
    z-index: 2;
    right:-30px;
    bottom:30px;
    width: 0px;
    background: black;
    border: 2px solid rgb(51, 168, 218);
    transition: 0.5s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

nav div:not(:last-child) {
    border-bottom: 2px solid rgb(51, 168, 218);
    display: block;
}

nav div *{
    background: black;
    padding:5px;
    color: white;
}


/* splash */
#splash {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#splash div {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#splash div img{
    display: block;
    max-width: 80vw;
    max-height: 50vh;
    margin: auto;
}
/* about */

#about{
    text-align: center;
}

#about img{
    max-width: 80%;
    max-height: 30vh;
    border-radius: 50%;
    border: 5px solid rgb(51, 168, 218);
    margin: 10px;
}

#about h2{
    padding:0;
}

#about * {
    max-width: 500px;
    margin:auto;
}

#about p {
    margin-bottom: 10px;

}

/* skills */

#skills h3{
    font-size: 1.2em;
    margin-top: 10px;
    padding: 7px;
    border-top: 1px solid rgb(51, 168, 218);
}
#skills {
    text-align: center;
}

#skills div div {
    display: inline-block
}
#skills div div * {
    display: inline-block
}

#skills div div p {
    font-size: 1.3em;
}
#skills div div img {
    max-width: 25px;
}

/* projects */
#projects {
    padding:0;
    position: relative;
}
#projects h2{
    padding: 5px;
    min-height: 50px;
    max-height: 9vh;
}

#projects h3{
    color:black;
    text-shadow: 1px 1px 2px rgb(51, 168, 218);
    transition: 0.5s;
    /* font-size: 3vw; */
}

.projCarousel{
    border: 1px red solid;
    width:100vw;
    height: 84%;
    /* bottom: 0px; */
    position: absolute;
}

.project{
    overflow: hidden;
    padding: 2vh;
    transition: 0.5s;
    background-position: center;
    position: relative;
}

.project div {
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    font-size: 0px;
    margin-bottom: 10px;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
    width: 100%;
}

.project div div{
    overflow: hidden;
    height: 36vh;
    border: 1px solid rgb(51, 168, 218);
}

.project img {
    display: block;
    margin:auto;
}

.projCarousel:hover > .project:hover div{
    color:black;
    font-size: 1em;
}

.projCarousel:hover > .project:not(:hover) div div{
    display: none;
}

@media screen and (orientation:landscape){
    #projects h3{
        font-size: 3vw;
    }
    .projCarousel{
        display: flex;
        height: 84%;
    }
    .project {
        width: 33.333333333%;
        height: 100%;
        display: inline-block;
    }
    .projCarousel:hover > .project:not(:hover){
        width: 12.5%;
    }
    .projCarousel:hover > .project:not(:hover) h3{
        transform: rotate(90deg) translateX(50%)
    }
    .projCarousel:hover>.project:hover{
        width: 75%;
    }
    .project img{
        max-width: 100%;
    }
}


@media screen and (orientation:portrait){
    .projCarousel{
        height: 90%;
    }
    #projects h3{
        font-size: 3vh;
    }

    .project {
        height: 33.333333333%;
        width: 100%;
        display: block;
    }
    .projCarousel:hover > .project:not(:hover){
        height: 12.5%;
    }
    .projCarousel:hover>.project:hover{
        height: 75%;
    }
    .project img{
        max-height: 100%;
    }
}
#swordbuilder{
    background-image: url("../images/sword-bg.png")
}
#galleass{
    background-image: url("../images/galleas-bg.png");
}

#skillet{
    background-image: url("../images/skillet-bg.png")
}

/* experience */

/* education */
#education h3 {
    font-size: 0.em;
    color: rgb(19, 56, 70);
    text-shadow: 1px 1px 3px black;
    margin-top:10px;
}

#education * {
    text-align: center;
    margin-bottom: 7px;
}

/* contact */
#contact {
    padding-left: 40px;
    padding-right: 40px;
}

#contact div{
    max-width: 500px;
    margin:auto;
}

#contact div {
    margin-bottom: 10px;
}

#contact div a {
    text-decoration: none;
}

#contact div a *{
    display: inline-block;
    vertical-align: middle;
}

#contact div a p {
    max-width: 195px;
}

#contact div img {
    max-width: 40px;
}